<div class="shoppingWindow-main1" style="display: block; padding: 18px;">
    <div class="shoppingWindow-div2-for-body">
        <div class="shoppingWindow-Innerdiv1-body" style="display: block;">Payment:</div>

        <div class="button payment-select">
            <div class="button-content">
                <div class="addThingToListButton">
                    <div class="addThingToList">
                        <input type="button" class="subButton" id="dlabel2" value="<%= payment[0] %>">
                    </div>
                </div>
            </div>
            <div class="drop-button-div"></div>
        </div>
    </div>
    <div class="popup-content payment">
        <div class="selectListPopup">
            <div class="selectListPopup-list-container payment" style="display: none">
                <ul class="selectListPopup-lists">
                    <% for (i in payment) { %>
                    <li <% if (i > 1) { %> style="display: none;" class="additional" <% } %> data-value="<%= payment[i] %>"><%= payment[i] %></li>
                    <% } %>
                </ul>
                <a class="selectListPopup-more" id="seeAllPayments" style="display: block">See All Methods</a>
            </div>
        </div>
    </div>


    <div class="shoppingWindow-div2-body" style="display: block">
        <div class="shoppingWindow-Innerdiv1-body">Shipping:</div>

        <div class="button shipment-select">
            <div class="button-content">
                <div class="shippingMethodListButton">
                    <div class="shippingMethodList">
                        <input type="button" class="subButton" id="dlabel" value="<%= shipment[0] %>">
                        <!--<input type="text" class="subButton2" id="InputValue" style="display: none">-->
                    </div>
                </div>
            </div>
            <div class="drop-button-div"></div>
        </div>
        <div class="shoppingWindow-Innerdiv2-body"></div>
    </div>
    <div class="popup-content shipment">
        <div class="selectListPopup">
            <div class="selectListPopup-list-container shipment" style="display: none">
                <ul class="selectListPopup-lists">
                    <% for (i in shipment) { %>
                    <li <% if (i > 1) { %> style="display: none;" class="additional" <% } %> data-value="<%= shipment[i] %>"><%= shipment[i] %></li>
                    <% } %>
                </ul>
                <a class="selectListPopup-more" style="display: block" id="seeAllShipments">See All Methods</a>
                <a style="display: none;" class="selectListPopup-new" id="newlist">set a new date</a>
                <input id="date-input" type="text" style="width: 316px; display: none;" value="" class="selectListPopup-new" />
            </div>
        </div>
    </div>



    <div class="shoppingWindow-div3-body" style="display: block">
        <div class="shoppingWindow-ProPic-Div">
            <img width="58px" height="58px" src="img/site/picture.jpeg">
        </div>
        <div class="shoppingWindow-NameTestDiv-Div">
            <div class="shoppingWindow-UserName-Div"><%= WIZARD.user.get('name') %></div>
            <div class="shoppingWindow-TextDiv">
                <textarea rows="3" cols="70" readonly="true" style="display: none"></textarea>
            </div>
        </div>
    </div>
    <div class="shoppingWindow-div4-body">
        <div class="shoppingWindow-img-div">
            <span><img src="img/products/<%= variants[WIZARD.order.get('productVariant') - 1].filename %>" /></span>
        </div>
        <div class="shoppingWindow-nameUrlDesc-div">
            <div class="shoppingWindow-name-div">
                <textarea class="shoppingWindow-name" rows="2" cols="16" size="20" name="limitedtextarea" id="txtArea-name" style="border: 0px; background: white; font-weight: bold; color: #666666; cursor: default;" readonly="true"><%= name %></textarea>
            </div>
            <div class="shoppingWindow-description-div" style="font-size: 11px; color: #666; cursor: default;">
                <textarea rows="5" cols="43" style="font-size: 11px; color: #666; cursor: default;" readonly="true"><%= variants[WIZARD.order.get('productVariant') - 1].description %></textarea>
            </div>
        </div>
    </div>
</div>




