<div id="forWindow" class="shoppingWindow">
    <div class="shoppingWindow-frame-top">
        <div style="background-image: url(img/site/corners.png) !important" class="shoppingWindow-frame-top-left"></div>
        <div style="background-image: url(img/site/side-top.png) !important" class="shoppingWindow-frame-top-middle"></div>
        <div style="background-image: url(img/site/corners.png) !important" class="shoppingWindow-frame-top-right"></div>
    </div>

    <div class="shoppingWindow-frame-content">
        <div style="background-image: url(img/site/side-left.png) !important" class="shoppingWindow-frame-content-left"></div>
        <div tabindex="0" style="background-image: url(img/site/bg-content.png) !important" class="shoppingWindow-frame-content-middle">
            <div style="background-image: url(img/site/bg-body.png); height: 310px; width:574px;" id="container" class="shoppingWindow-body-container">
                <div class="shoppingWindow-body">
                    <!--content-->

                </div>
            </div>
            <div style="background-image: url(img/site/bg-footer.gif) !important" class="shoppingWindow-footer shoppingWindow-fixclear">
                <div style="background-image: url(img/site/shadows.png) !important" class="shoppingWindow-footer-shadow"></div>
                <div class="modal-controls">
                    <!--controls-->

                </div>
            </div>
        </div>
        <div style="background-image: url(img/site/side-right.png) !important" class="shoppingWindow-frame-content-right"></div>
    </div>
    <div class="shoppingWindow-frame-bottom">
        <div style="background-image: url(img/site/corners.png) !important" class="shoppingWindow-frame-bottom-left"></div>
        <div style="background-image: url(img/site/side-bottom.png) !important" class="shoppingWindow-frame-bottom-middle"></div>
        <div style="background-image: url(img/site/corners.png) !important" class="shoppingWindow-frame-bottom-right"></div>
    </div>
</div>